[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=System;
Exec=desktop-entry-editor %f
Icon=desktop-entry-editor
Name=Desktop Entry Editor
Name[zh_CN]=桌面快捷方式编辑器
Name[es_ES]=Editor de Escritorio
Comment=A simple GUI tool to create and edit desktop files, designed for Deepin.
Comment[zh_CN]=一款简单的桌面快捷方式图形编辑工具，为 Deepin 设计。
Comment[es_ES]=Una sencilla herramienta GUI para crear y editar archivos de escritorio, diseñada para Deepin.
Terminal=false
StartupWMClass=desktop-entry-editor
MimeType=application/x-desktop
