[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=System;
Exec=desktop-entry-editor %f
Icon=/usr/share/icons/hicolor/scalable/apps/desktop-entry-editor.svg
Name=Desktop Entry Editor
Name[zh_CN]=桌面快捷方式编辑器
Comment=A simple GUI tool to create and edit desktop files for Deepin, desinged using DTK.
Comment[zh_CN]=一款简单的为 Deepin 打造的桌面快捷方式图形编辑工具，使用 DTK 设计。
Terminal=False
StartupWMClass=Desktop Entry Editor
MimeType=application/x-desktop
