[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=System;
Exec=desktop-entry-editor %f
Icon=com.gitee.deepin-opensource.desktop-entry-editor
Name=Desktop Entry Editor
Name[zh_CN]=桌面快捷方式编辑器
Comment=A simple GUI tool to create and edit desktop files, designed for Deepin.
Comment[zh_CN]=一款简单的桌面快捷方式图形编辑工具，为 Deepin 设计。
Terminal=False
StartupWMClass=Desktop Entry Editor
MimeType=application/x-desktop
